body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('https://images.ctfassets.net/2htm8llflwdx/3MkP3ns6zznQ9nHt3gj0zS/fe8e3d58b0007bd92851fa32066f607e/CampusLife_Student_Smiling_Outdoor_GettyImages-1209049220.jpg?fit=thumb');
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px 40px;
  background-color: rgba(27, 27, 50, 0.34);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}

.form-description {
  text-align: center;
  color: rgb(220, 220, 220);
  margin-bottom: 30px;
  font-size: 16px;
  font-style: italic;
}

form {
  background-color: rgba(255, 255, 255, 0.34);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form fieldset {
  border: none;
  margin-bottom: 20px;
}

form legend {
  font-weight: bold;
  color: rgba(27, 27, 50, 0.8);
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(27, 27, 50, 0.8);
  display: inline-block;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #222;
  font-weight: 600;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form input[type="tel"],
form input[type="email"],
form select,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  transition: border-color 0.3s ease-in-out;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form select:focus,
form textarea:focus {
  border-color: #007bff;
  outline: none;
}

form textarea {
  resize: vertical;
  height: 120px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form label > input[type="radio"],
form label > input[type="checkbox"] {
    position: relative;
    top: 2px;
}

form input[type="text"]::placeholder,
form input[type="date"]::placeholder,
form input[type="number"]::placeholder,
form input[type="tel"]::placeholder,
form input[type="email"]::placeholder,
form select::placeholder,
form textarea::placeholder {
    color: #888;
    font-style: italic;
}

button {
    display: block;
    width: 35%;
    margin:0 auto;
    padding: 15px;
    background-color: rgba(27, 27, 50, 0.65);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    line-height: 1.5;
}

button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }

    .form-description {
        font-size: 16px;
    }

    form label {
        font-size: 14px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="tel"],
    form input[type="email"],
    form select,
    form textarea {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}

